src/META-INF/wsdl/localhost_20061/ebank_ws/EmployeeService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://employee.ebank/" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://employee.ebank/">

<xs:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:20061/ebank_ws/EmployeeService?xsd=1"/>

<xs:element name="deleteEmployee" type="tns:deleteEmployee"/>

<xs:element name="deleteEmployeeResponse" type="tns:deleteEmployeeResponse"/>

<xs:element name="getEmployees" type="tns:getEmployees"/>

<xs:element name="getEmployeesResponse" type="tns:getEmployeesResponse"/>

<xs:element name="logout" type="tns:logout"/>

<xs:element name="logoutResponse" type="tns:logoutResponse"/>

<xs:element name="validateLogin" type="tns:validateLogin"/>

<xs:element name="validateLoginResponse" type="tns:validateLoginResponse"/>

<xs:complexType name="getEmployees">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getEmployeesResponse">
<xs:sequence>
<xs:element name="return" type="ns1:stringArray" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteEmployee">
<xs:sequence>
<xs:element name="employeeId" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteEmployeeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validateLogin">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="validateLoginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="logout">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="logoutResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>