xml-resources/web-service-references/CustomerService/wsdl/localhost_8282/ebank_ws/CustomerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://customer.ebank/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://customer.ebank/" name="CustomerService">
<types>
<xsd:schema>
<xsd:import namespace="http://customer.ebank/" schemaLocation="http://localhost:8282/ebank_ws/CustomerService?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteCustomer">
<part name="parameters" element="tns:deleteCustomer"/>
</message>
<message name="deleteCustomerResponse">
<part name="parameters" element="tns:deleteCustomerResponse"/>
</message>
<message name="addEditCustomer">
<part name="parameters" element="tns:addEditCustomer"/>
</message>
<message name="addEditCustomerResponse">
<part name="parameters" element="tns:addEditCustomerResponse"/>
</message>
<message name="getCustomers">
<part name="parameters" element="tns:getCustomers"/>
</message>
<message name="getCustomersResponse">
<part name="parameters" element="tns:getCustomersResponse"/>
</message>
<message name="getCustomer">
<part name="parameters" element="tns:getCustomer"/>
</message>
<message name="getCustomerResponse">
<part name="parameters" element="tns:getCustomerResponse"/>
</message>
<portType name="CustomerService">
<operation name="deleteCustomer">
<input wsam:Action="http://customer.ebank/CustomerService/deleteCustomerRequest" message="tns:deleteCustomer"/>
<output wsam:Action="http://customer.ebank/CustomerService/deleteCustomerResponse" message="tns:deleteCustomerResponse"/>
</operation>
<operation name="addEditCustomer">
<input wsam:Action="http://customer.ebank/CustomerService/addEditCustomerRequest" message="tns:addEditCustomer"/>
<output wsam:Action="http://customer.ebank/CustomerService/addEditCustomerResponse" message="tns:addEditCustomerResponse"/>
</operation>
<operation name="getCustomers">
<input wsam:Action="http://customer.ebank/CustomerService/getCustomersRequest" message="tns:getCustomers"/>
<output wsam:Action="http://customer.ebank/CustomerService/getCustomersResponse" message="tns:getCustomersResponse"/>
</operation>
<operation name="getCustomer">
<input wsam:Action="http://customer.ebank/CustomerService/getCustomerRequest" message="tns:getCustomer"/>
<output wsam:Action="http://customer.ebank/CustomerService/getCustomerResponse" message="tns:getCustomerResponse"/>
</operation>
</portType>
<binding name="CustomerServicePortBinding" type="tns:CustomerService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addEditCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CustomerService">
<port name="CustomerServicePort" binding="tns:CustomerServicePortBinding">
<soap:address location="http://localhost:8282/ebank_ws/CustomerService"/>
</port>
</service>
</definitions>